.background-container {
  background-color: #9ba9eb;
  padding: 30px;
  min-height: 100vh;
}
.image-icon-website {
  height: 150px;
  width: 350px;
}
.add-password-image-container {
  background-color: #5763a5;
  padding: 40px;
  display: flex;
  border-radius: 16px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .background-container {
    padding: 15px;
  }
  .image-icon-website {
    height: 100px;
    width: 250px;
  }
  .add-password-image-container {
    display: flex;
    flex-direction: column;
  }
}
.add-password-container {
  background-color: #454f84;
  padding: 30px;
  margin-left: 15px;
  border-radius: 14px;
  width: 40%;
  font-family: 'Roboto';
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .add-password-container {
    order: 1;
    padding: 5px;
    width: 100%;
  }
}
.add-new-password-text {
  font-size: 32px;
  font-weight: 700;
  color: #f8fafc;
}
@media screen and (max-width: 767px) {
  .add-new-password-text {
    font-size: 16px;
  }
}
.ulr-container {
  background-color: #ffffff;
  height: 50px;
  padding: 0.1px;
  border-radius: 10;
  display: flex;
  align-items: center;
}
.ult-image {
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

.url-text {
  height: 45px;
  width: 250px;
  font-size: 20px;
  border-width: 0px;
  border-left: 2px solid #5763a5;
  margin-left: 5px;
  outline: none;
  padding-left: 10px;
}
@media (max-width: 767px) {
  .ulr-container{
    height: 30px;
  }
  .ult-image {
    height: 20px;
    width: 20px;
    margin-left: 8px;
  }
  .url-text {
    height: 30px;
    width: 100px;
    font-size: 10px;
  }
}
.buttn-container {
  text-align: right;
}
.buttn {
  background-color: #0b69ff;
  font-family: 'Roboto';
  color: #ffffff;
  border-width: 0px;
  border-radius: 6px;
  font-size: 18px;
  height: 40px;
  width: 100px;
}
.password-manager-image {
  height: 450px;
  width: 500px;
  margin-left: 120px;
}
@media screen and (max-width: 767px) {
  .password-manager-image {
    margin-left: 0px;
    height: 150px;
    width: 200px;
    order: 0;
  }
}
.password-list-container {
  background-color: #5763a5;
  padding: 40px;
  border-radius: 16px;
  margin-top: 30px;
}
.top-password-count-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-count-container {
  display: flex;
}
.para-passwordcount {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 800;
  color: #ffffff;
}
.span-style {
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
  width: 30px;
  margin-left: 5px;
  color:#ffffff;
}
@media (max-width:767px){
  .para-passwordcount{
    font-size: 10px;
    
  }
  .span-style{
    font-size: 10px;

  }
}
.search-input-container {
  background-color: #ffffff;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
}
.image-search {
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin-left: 8px;
  margin-right: 8px;
}
.search-input {
  font-family: 'Roboto';
  font-size: 16px;
  height: 40px;
  outline: none;
  border-width: 0px;
  border-left: 1px solid #5763a5;
  padding: 5px;
}
@media (max-width: 767px){
  .image-search{
    height: 20px;
    width: 20px;
  }
  .search-input{
    font-size: 12px;
    height: 30px;
    width: 80px;
  }
  .search-input-container{
    margin-left: 5px;
  }
}
.horizantal-line {
  border: 1px solid #f8fafc;
  width: 100%;
}
.check-box-container {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.check-box {
  height: 30px;
  width: 30px;
}
@media (max-width:767px){
  .check-box{
    height: 10px;
    width: 10px;
  }
}
.label-text {
  font-size: 24px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-left: 8px;
}
@media (max-width:767px){
  .label-text{
    font-size: 10px;
    margin-left: 1px;
  }
}
.image-no-passwords {
  height: 400px;
  width: 500px;
}
@media (max-width:767px){
  .image-no-passwords{
    height: 120px;
    width: 150px;
  }
}
.para-no-password-text {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
  font-weight: 800;
}
@media (max-width:767px){
  .para-no-password-text{
    font-size: 22px;
  }
}
.no-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-container {
  list-style-type: none;
  font-family: 'Roboto';
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
